.header{
        grid-area: header;
        background-color: rgba(240, 240, 240, 0.726);
        border: 3px solid rgba(95, 136, 197, 0.884);
        border-radius: 5px;
        box-shadow: black;
}
      
.logo{
        width: 60px;
        border-radius: 50%;
}